@import "../../common/normalize.scss";
@import "../../common/base.scss";
@import "../../common/mixins.scss";

.boss-login-form {
    width: 380px;
	margin: 15% auto;
	padding: 20px 30px;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
    text-align: center;

    .title {
        width: 100%;
        color: #666;
        font-size: 26px;
        text-align: center;
    }

    .form-element {
        width: 350px;
        margin: 15px auto;

        input {
            display: block;
            height: 30px;
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            -webkit-appearance: none;
            background: #fafafa;
            color: #636363;
            width: 100%;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #757575;

            &:focus {
                outline: none;
            }
        }
    }

    .form-buttons {
        margin-top: 40px;

        button {
            width: 100px;
            &:first-child {
                margin-right: 15px;
            }
        }
    }
}